altgraph==0.17.5
annotated-doc==0.0.4
et-xmlfile==2.0.0
iniconfig==2.3.0
loguru==0.7.3
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
pygments==2.20.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
pyqt6==6.11.0
pyqt6-qt6==6.11.1
pyqt6-sip==13.11.1
pytest==9.0.3
python-docx==1.2.0
rich==15.0.0
setuptools==82.0.1
shellingham==1.5.4
typer==0.26.4
typing-extensions==4.15.0
